#app {
  .container-left {
    transition: margin-left 0.28s;
    margin-left: var(--sidebar-width);
    &.horizontal-bar {
      margin-left: 0;
    }
  }

  .sidebar-container {
    transition: width 0.28s;
    width: var(--sidebar-width) !important;
    background-color: var(--menu-bg);
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    .svg-icon {
      margin-right: 8px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: var(--menu-bg);
    }

    .el-sub-menu__title,
    .el-menu-item {
      color: var(--menu-text);
    }

    a {
      padding: 4px 8px;
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
      &.router-link-active {
        .el-menu-item {
          background: var(--menu-active-bg);
          border-radius: 4px;
          color: var(--menu-active-text) !important;
          &:hover {
            background-color: var(--menu-active-bg) !important;
          }
        }
      }
    }

    .submenu-title-noDropdown {
      padding-left: 12px !important;
    }
    // menu hover
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      height: 42px;
      line-height: 42px;
      &:hover {
        background: inherit !important;
        color: var(--menu-active-text);
      }
    }

    .is-active > .el-sub-menu__title {
      color: var(--menu-active-text) !important;
    }

    .nest-menu {
      background-color: transparent !important;
      .el-sub-menu__title {
        span {
          padding-left: 8px;
        }
      }
    }

    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-width: calc(var(--sidebar-width) - 16px) !important;
      height: 40px;
      line-height: 40px;

      &:hover {
        background-color: transparent;
        color: var(--menu-active-text);
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-sub-menu {
        overflow: hidden;

        & > .el-sub-menu__title {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }

          .el-sub-menu__icon-arrow {
            display: none;
          }
        }
      }

      .el-menu--collapse {
        .submenu-title-noDropdown {
          .svg-icon {
            padding-left: 12px;
          }
          span {
            display: none;
          }
        }
        .el-sub-menu {
          & > .el-sub-menu__title {
            & > span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }

    .container-left {
      transition: none;
      margin-left: 54px;
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: var(--sidebar-width) !important;
  }

  // mobile responsive
  .mobile {
    .container-left {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: var(--sidebar-width) !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-var(--sidebar-width), 0, 0);
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 8px;
    }
  }

  .nest-menu .el-sub-menu > .el-sub-menu__title,
  .el-menu-item {
    background: transparent !important;
    color: var(--menu-text);
    &:hover {
      color: var(--menu-active-text);
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    background: var(--menu-bg);
    max-height: 90vh;
    overflow-y: auto;

    a {
      text-decoration: none;
    }

    // &::-webkit-scrollbar-track-piece {
    //   background: #d3dce6;
    // }

    // &::-webkit-scrollbar {
    //   width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background: #99a9bf;
    //   border-radius: 20px;
    // }
  }
}

.horizontal-menu-container {
  .el-sub-menu__icon-arrow {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .svg-icon {
    margin-right: 8px;
  }

  .el-menu-item,
  .el-sub-menu,
  .el-sub-menu__title {
    line-height: 48px;
    height: 48px;
  }
  .el-menu-item,
  .el-sub-menu__title {
    padding: 0 15px;

    &:focus, &:hover {
      color: var(--el-menu-active-color);
      background: transparent;
    }
  }
  .el-menu--horizontal {
    border-bottom: 0;
    .el-sub-menu__hide-arrow {
      .el-sub-menu__title {
        border-bottom: 0 !important;
      }
    }
    .el-menu-item:not(.is-disabled):hover {
      color: var(--el-menu-active-color);
      background: transparent;
    }
    .el-menu-item:not(.is-disabled):focus {
      color: var(--el-menu-active-color);
      background: transparent;
    }
  }

  .el-sub-menu{
    &.is-active {
      .el-sub-menu__title {
        color: var(--el-menu-active-color);
      }
    }
  }
}

.el-menu--horizontal {
  & > .el-menu {
    .svg-icon {
      margin-right: 8px;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 90vh;
    overflow-y: auto;

    a {
      text-decoration: none;
    }

    // &::-webkit-scrollbar-track-piece {
    //   background: #d3dce6;
    // }

    // &::-webkit-scrollbar {
    //   width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background: #99a9bf;
    //   border-radius: 20px;
    // }
  }
}
